<footer class="page-footer font-small pt-5" id="footer">
	<div class="container py-3">
		  <div class="container-fluid text-center text-md-left">

		    <div class="row">
		      <div class="address col-md-3 mt-md-0 mt-3">
		        <h6 class="pt-3 text-light">CONTACT INFO</h6>
	          <p class="text-secondary">Email:info@akirachix.com <br>
	          Tel +254 723 935 796</p>

	          <h6 class="pt-3 text-light">ADDRESS</h6>
	          <p class="text-secondary">P.O.BOX 22009-00100 <br>
	          Nairobi</p>
	          <h6 class="pt-3 text-light">LOCATION</h6>
	          <p class="text-secondary">Savelberg Retreat Centre
	          	<br> Muringa road,<br> Kilimani, Nairobi</p>
		      </div>

		      <div class="col-md-3 mb-md-0 mb-3">
		        <h6 class="pt-3 text-light">NEWSLETTER</h6>
		        
	        <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
					<!-- <a class="btn btn-secondary mt-3 mb-5" href="http://eepurl.com/QIlGr">SUBSCRIBE</a> -->
					{% include mailchimp_signup.html %}

	        <br>
	         <a class="text-light" id="donate_button" href="/donate/">DONATE</a>
		      </div>

		      <div class="col-md-3 mb-md-0 mb-3 pl-5 ">
		        <h6 class="pt-3 text-light">NAVIGATE</h6>
	          <a class="text-secondary" href="/blog/">Blog</a>

	          <br>
	          <a class="text-secondary" href="/apply/">Apply</a>
	          <br>

	          <a class="text-secondary" href="/home/">Home</a>
	          <br>
	          <a class="text-secondary" href="/impact/">Impact</a>
	          <br>
	          <a class="text-secondary" href="/contact/">Contact</a>
	          <br>
	          <a class="text-secondary" href="/about/">About</a>
	          <br>
	          <a class="text-secondary" href="/programmes/">Other initiatives</a>
		      </div>
		      <div class="col-md-3">
		       <a href="https://www.google.com/maps/place/AkiraChix/@-1.2966309,36.7784149,15z/data=!4m5!3m4!1s0x0:0xe54a131abd8ebdb2!8m2!3d-1.2966309!4d36.7784149"><img  src="/img/map2.png" alt="This is a repsonsive placeholder image" class="img-fluid pt-3"/></a>
		      </div>
		    </div>
		  </div>
		  <hr class="mt-3">
		  <div class="row pb-3 pt-3">
	      <div class="col-md-12 ">
	        <div class="mb-5 d-flex text-center justify-content-center">
		     
	          <a href="https://twitter.com/akirachix"> <i class="fab fa-twitter fa-lg white-text text-light mr-4"> </i></a>
	          <a href="https://www.facebook.com/AkiraChix"> <i class="fab fa-facebook-f fa-lg text-light white-text mr-4"> </i></a>
	          <a href="https://www.linkedin.com/company/akirachix/"><i class="fab fa-linkedin-in fa-lg white-text text-light mr-4"> </i></a>
	          <a href="https://www.youtube.com/channel/UCr5NPYEeoTKvnc9FrcCwWiA"> <i class="fab fa-youtube text-light"></i></a>

	        </div>
	      </div>
	    </div>
	</div>
</footer>
<div class="footer-copyright text-center py-3 text-light" id="copyright">Copyright © 2020 AkiraChix. All rights reserved.
</div>
