<!-- Footer -->
<footer class="page-footer  font-small indigo">
	<div class="col-md-12 bg-dark">
	  <!-- Footer Links -->
	  <div class="container">
	    <!-- Grid row-->
	    <div class="row  pt-5 mb-3">
	      <!-- Grid column -->
	      <div class="col-3 mb-3 text-secondary">
	          <h6 class="pt-3 text-light">CONTACT INFO</h6>
	          <p>Email:info@akirachix.com <br>
	          Tel +254 723 794 865</p>

	          <h6 class="pt-3 text-light">ADRESS</h6>
	          <p>P.O.BOX 23515 <br>
	          Nairobi</p>
	          <h6 class="pt-3 text-light">LOCATION</h6>
	          <p>Savelberg Retreat Centre
	          	<br> Muringa road</p>
	      </div>
	      <!-- Grid column -->
	      <!-- Grid column -->
	      <div class="col-3 mb-3">
	          <h6 class="pt-3 text-light">QUICK LINKS</h6>
	          <a class="text-secondary" href="">Blog</a>
	          <br>
	          <a class="text-secondary href="">Apply</a>
	          <br>
	          <a class="text-secondary href="">Home</a>
	          <br>
	          <a class="text-secondary href="">Impact</a>
	          <br>
	          <a class="text-secondary href="">Contact</a>
	          <br>
	          <a class="text-secondary href="">About</a>
	          <br>
	          <a class="text-secondary href="">Programmes</a>

	      </div>
	      <!-- Grid column -->

	      <!-- Grid column -->
	      <div class="col-3 mb-3">
	        <h6 class="pt-3 text-light">SUBSCRIBE TO OUR NEWSLETTER</h6>
	        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	        <button type="submit" class="btn btn-secondary mt-3">Subscribe</button>
	        <br>
	        <button type="submit" class="btn btn-secondary mt-3 text-light mt-5">DONATE</button>
	      </div>
	      <!-- Grid column -->

	      <!-- Grid column -->
	      <div class="col-3 mb-3">
	        <img  src="https://via.placeholder.com/400x350/666/666?text=Image" alt="This is a repsonsive placeholder image" class="img-fluid pt-3"/>
	      </div>
	      <!-- Grid column -->
	    </div>
	    <div class="row pb-3">
	      <!-- Grid column -->
	      <div class="col-md-12 ">
	        <div class="mb-5 d-flex text-center justify-content-center">
	          <a class="fb-ic">
	            <i class="fab fa-facebook-f fa-lg text-light white-text mr-4"> </i>
	          </a>
	          <a class="tw-ic">
	            <i class="fab fa-twitter fa-lg white-text text-light mr-4"> </i>
	          </a>
	          <a class="li-ic">
	            <i class="fab fa-linkedin-in fa-lg white-text text-light mr-4"> </i>
	          </a>
	          <a class="ins-ic">
	          	<i class="fab fa-youtube text-light"></i>
	          </a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  <div class="footer-copyright col-md-12 bg-secondary text-center py-3 text-light">©Copyright 2019 akirachix.com |
    <a class="text-light" href="#">sitemap</a>
  </div>
</footer>
<!-- Footer -->