<footer class="page-footer font-small pt-5" id="footer">
	<div class="container py-3">
		  <div class="container-fluid text-center text-md-left">

		    <div class="row">
		      <div class="col-md-3 mt-md-0 mt-3">
		        <h6 class="pt-3 text-light">CONTACT INFO</h6>
	          <p>Email:info@akirachix.com <br>
	          Tel +254 723 794 865</p>

	          <h6 class="pt-3 text-light">ADDRESS</h6>
	          <p>P.O.BOX 23515 <br>
	          Nairobi</p>
	          <h6 class="pt-3 text-light">LOCATION</h6>
	          <p>Savelberg Retreat Centre
	          	<br> Muringa road</p>
		      </div>
		      
		      <div class="col-md-3 mb-md-0 mb-3">
		        <h6 class="pt-3 text-light">NEWSLETTER</h6>
	        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	        <button type="submit" class="btn btn-secondary mt-3 mb-5">Subscribe</button>
	        <br>
	         <a class="text-light" id="donate_button" href="/donate/">DONATE</a>
		      </div>

		      <div class="col-md-3 mb-md-0 mb-3 pl-5 ">
		        <h6 class="pt-3 text-light">NAVIGATE</h6>
	          <a class="text-secondary" href="/blog/">Blog</a>
	          <br>
	          <a class="text-secondary" href="/apply/">Apply</a>
	          <br>
	          <a class="text-secondary" href="/home/">Home</a>
	          <br>
	          <a class="text-secondary" href="/impact/">Impact</a>
	          <br>
	          <a class="text-secondary" href="/contact/">Contact</a>
	          <br>
	          <a class="text-secondary" href="/about/">About</a>
	          <br>
	          <a class="text-secondary" href="/programmes/">Programmes</a>
		      </div>
		      <div class="col-md-3 mb-md-0 mt-3">
		       <a href="https://www.google.com/maps/place/AkiraChix/@-1.2966309,36.7784149,15z/data=!4m5!3m4!1s0x0:0xe54a131abd8ebdb2!8m2!3d-1.2966309!4d36.7784149"><img  src="/img/akirachix_map.png" alt="This is a repsonsive placeholder image" class="img-fluid pt-3"/></a>
		      </div>
		    </div>
		  </div>
		  <hr class="mt-3">
		  <div class="row pb-3 pt-3">
	      <div class="col-md-12 ">
	        <div class="mb-5 d-flex text-center justify-content-center">
	          <a class="fb-ic">
	            <i class="fab fa-facebook-f fa-lg text-light white-text mr-4"> </i>
	          </a>
	          <a class="tw-ic">
	            <i class="fab fa-twitter fa-lg white-text text-light mr-4"> </i>
	          </a>
	          <a class="li-ic">
	            <i class="fab fa-linkedin-in fa-lg white-text text-light mr-4"> </i>
	          </a>
	          <a class="ins-ic">
	          	<i class="fab fa-youtube text-light"></i>
	          </a>
	        </div>
	      </div>
	    </div>
	</div>
</footer>
<div class="footer-copyright text-center py-3 text-light" id="copyright">COPYRIGHT@AKIRACHIX 2019
</div>
