<button type="button" data-toggle="modal" class="btn btn-secondary mt-3 mb-5"
  data-target="#signupModal">SUBSCRIBE</button>
<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><img src="/img/logo.png" width="120"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form
            action="https://akirachix.us8.list-manage.com/subscribe/post?u=3a9f5861127712c1f85748063&amp;id=28ee7c10e8"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="form-group">
                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
              </div>
              <div class="form-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
              </div>
              <div class="form-group">
                <label for="mce-MMERGE1">First Name </label>
                <input type="text" value="" name="MMERGE1" class="form-control" id="mce-MMERGE1">
              </div>
              <h5>Send me more information on:</h5>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" value="1" name="group[9553][1]" id="mce-group[9553]-9553-0" class="custom-control-input">
                <label for="mce-group[9553]-9553-0" class="custom-control-label">General Updates</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" value="2" name="group[9553][2]" id="mce-group[9553]-9553-1" class="custom-control-input">
                <label for="mce-group[9553]-9553-1" class="custom-control-label">High School outreach</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" value="4" name="group[9553][4]" id="mce-group[9553]-9553-2" class="custom-control-input">
                <label for="mce-group[9553]-9553-2" class="custom-control-label">Training Program</label>
              </div>
              <div class="custom-control custom-checkbox mb-5">
                <input type="checkbox" value="8" name="group[9553][8]" id="mce-group[9553]-9553-3" class="custom-control-input">
                <label for="mce-group[9553]-9553-3" class="custom-control-label">Community Building</label>
              </div>

              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_3a9f5861127712c1f85748063_28ee7c10e8" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="btn btn-primary btn-block"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script
          type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[1] = 'MMERGE1'; ftypes[1] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>