---
---

@import "settings";

// Bootstrap
@import "vendor/bootstrap/breakpoints";

// Global
@import "global/mixins";
@import "global/utilities";
@import "global/base";
@import "global/layout";
@import "global/typography";
@import "global/animations";

// Pages
@import "pages/homepage";

// Examples
@import "resources/lazyload";
@import "resources/bg_video";
@import "resources/blockquotes";
@import "resources/tab_collapse";

// Vendor Specific
@import "vendor/cognito";



/*****GLOBAL STYLING*******/


/*video*/

#video-bg{
  position:fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #video-bg {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #video-bg { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #video-bg {
       display: none;
    }
    .background-video{
        background-image: url('../img/gaya.jpg');
        background-size: cover;
    }
}



/* Add some content at the bottom of the video/page */


.twenty {
  color: #f1f1f1;
  padding: 30% 0 0 0;
  min-height:600px;
  text-align: center; 
  margin-top: 2%;
  
  
}



/*buttons*/


#donate_button{
  color: #fff;
  padding:10px 18px;
  border-radius:5px;
  text-decoration:none;
  background-color:#812990;
}

#toggle_button{
  color: #fff;
  padding:10px 18px;
  border-radius:5px;
  text-decoration:none;
  background-color:#812990;
}
#toggle_button:hover{
 color: #fff;
 background-color: #48b940; 
}

#donate_button:hover{
  color: #42a5f5;
  
}
#apply_button{
  color: #fff;
  padding:7px 18px;
  border-radius:5px;
  text-decoration:none;
  background-color:#000066;

}


body{
    
    line-height: 1.6em;
}
p{
  font-size: 16px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
}
h6{
  font-weight: bold;
}

/*header*/

.navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

#page-header{
  background-color: #ffffff;
}
.navbar-nav  li  a {
  color:#4a4a4a;
  font-size: 12px;
  font-weight: 700;
}
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:#812990;
}
.current_page_item a{
  color:#812990; 
 
}
/*******STYLING HOME PAGE**********/
h3{

    font-weight: bold;
    color: #646264;
    font-weight: bold;
}

h1{
  color: #fff;
  font-size: 40px;
  font-weight:bold;
}

/*home-page*/

.bg-image.aspect-hero{
  padding: 20% 0 0 0;
  min-height:600px;
  text-align: center; 
  margin-top: 2%;
}
.bg-image.aspect-hero h1{
   font-size: 50px;
}

#learn_more{
  color: #fff;
  padding:10px 18px;
  border-radius:5px;
  text-decoration:none;
  background-color:#065bf7;
}

/*about */
#about{
    background: url(../img/aboutp.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.theory h6{
     font-weight: bold;
}
.theory ul li {
     font-size: 16px;
}

.bg{

}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}


.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

/*home*/
#homey{
  background: url(../img/hero_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
}

 /*impact*/
#impact{
 background: url(../img/impact-hero-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;  
}
#hire{
  color: #fff;
  padding:7px 18px;
  border-radius:5px;
  text-decoration:none;
  background-color:#ff6e03;
}

/*programmes*/
#programmes{
   background: url(../img/programmes_page_hero_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
}
.awtclink{
  border-bottom: 1px;
  color: #4584f9;
}

/*donate*/
#donate{
  background: url(../img/donate.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
}

#contact{
  background: url(../img/programmes.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
}

/*get involved*/

#get_involved{
    background: url(../img/getinvolved.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
}

#partner{
  color: #fff;
  padding:10px 18px;
  border-radius:5px;
  text-decoration:none;
  background-color:#0da7c6;
}

#mentor{
  color: #fff;
  padding:10px 18px;
  border-radius:5px;
  text-decoration:none;
  background-color:#ed1086;
}

/*footer*/

#footer{
    background-color:#00010c;
}
#copyright{
    background-color:#161c27;
}

#footer h6{
    color:#812990;
}

#footer hr{
    background-color:#515152;
}
.address p{
   color: #515152;
}


/*apply*/
#apply{
  background: url(../img/apply_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
}
/*contact*/
#submit{
  color: #fff;
  padding:10px 18px;
  border-radius:5px;
  text-decoration:none;
  background-color:#040c70; 
}













@media only screen and (max-width:769px) {
  .top-img{
    width: 300px;
    height: auto;
  }

  .bg-image.aspect-hero{
  padding: 50% 0 0 0;
  min-height:400px;
  text-align: center; 
}
.bg-image.aspect-hero h1{
   font-size: 25px;
}
#get_involved_img{
  width: 300px;
  height: auto;
  margin-bottom: 5%;
}
}







