---
---

@import "settings";

// Bootstrap
@import "vendor/bootstrap/breakpoints";

// Global
@import "global/mixins";
@import "global/utilities";
@import "global/base";
@import "global/layout";
@import "global/typography";
@import "global/animations";

// Pages
@import "pages/homepage";

// Examples
@import "resources/lazyload";
@import "resources/bg_video";
@import "resources/blockquotes";
@import "resources/tab_collapse";

// Vendor Specific
@import "vendor/cognito";



/*****GLOBAL STYLING*******/
body{
    
    line-height: 1.6em;
}

/*******STYLING HOME PAGE**********/
h3{
    font-weight: bold;
    color: #646264;
}

//home-page
.top-img{
    position: absolute;
      top: 70px;
      left: 35%;
}

//about 
#about{
    background: url(../img/about.png);
    background-size: cover;
    repeat: no repeat;
}



// impact
#impact{
  background: url(https://pbs.twimg.com/media/EJEj1MlX0AA9qe8?format=jpg&name=4096x4096);   
}

//programmes
#programmes{
    background: url(../img/code.png);
    background-size: cover;
    repeat: no repeat;
}

//donate
#donate{
    background: url(../img/Ban-Ki-Moon.jpg);
    background-size: cover;
    repeat: no repeat;
}

//get involved

#get_involved{
    background: url(../img/Ban-Ki-Moon.jpg);
    background-size: cover;
    repeat: no repeat;
}

//footer

#footer{
    background-color:#1c2331;
}
#copyright{
    background-color:#161c27;
}

#footer h6{
    color:#812990;
}

#footer hr{
    background-color:#161c27;
}







