---
---

@import "settings";

// Bootstrap
@import "vendor/bootstrap/breakpoints";

// Global
@import "global/mixins";
@import "global/utilities";
@import "global/base";
@import "global/layout";
@import "global/typography";
@import "global/animations";

// Pages
@import "pages/homepage";

// Examples
@import "resources/lazyload";
@import "resources/bg_video";
@import "resources/blockquotes";
@import "resources/tab_collapse";

// Vendor Specific
@import "vendor/cognito";



/*****GLOBAL STYLING*******/
#donate_button{
	padding:10px 18px;
	border-radius:5px;
	text-decoration:none;
	background-color:#812990;
}
#apply_button{
	padding:10px 18px;
	border-radius:5px;
	text-decoration:none;
	background-color:#812990;
}

body{
    
    line-height: 1.6em;
}
p{
  font-size: 16px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
}
h6{
  font-weight: bold;
}

//header
.navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}
.navbar-nav  li  a {
  color: #e5dbdb;
  font-size: 14px;
  font-weight: 700;
}
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 
  color: #e5dbdb;
}

/*******STYLING HOME PAGE**********/
h3{

    font-weight: bold;
    color: #646264;

	color: #646264;
    font-weight: bold;
}

//home-page

.bg-image.aspect-hero{
	padding: 10% 0 0 0;
	min-height:600px;
	text-align: center; 
}
.top-img{

    position: absolute;
      top: 70px;
      left: 35%;

}

//about 
#about{
    background: url(../img/about.png);
    background-size: cover;
    repeat: no repeat;
}
.theory h6{
     font-weight: bold;
}
.theory ul li {
     font-size: 16px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}


.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}



// impact
#impact{
  background: url(https://pbs.twimg.com/media/EJEj1MlX0AA9qe8?format=jpg&name=4096x4096);   
}

//programmes
#programmes{
    background: url(../img/code.png);
    background-size: cover;
    repeat: no repeat;
}
.awtclink{
  border-bottom: 1px;
  color: red;
}

//apply
#apply{
  background: url(../img/culture-day.jpg);
  background-size: cover;
  repeat: no repeat;
}

//donate
#donate{
    background: url(../img/Ban-Ki-Moon.jpg);
    background-size: cover;
    repeat: no repeat;
}

//get involved

#get_involved{
    background: url(../img/Ban-Ki-Moon.jpg);
    background-size: cover;
    repeat: no repeat;
}

//footer

#footer{
    background-color:#1c2331;
}
#copyright{
    background-color:#161c27;
}

#footer h6{
    color:#812990;
}

#footer hr{
    background-color:#161c27;
}










