---
---

@import "settings";

// Bootstrap
@import "vendor/bootstrap/breakpoints";

// Global
@import "global/mixins";
@import "global/utilities";
@import "global/base";
@import "global/layout";
@import "global/typography";
@import "global/animations";

// Pages
@import "pages/homepage";

// Examples
@import "resources/lazyload";
@import "resources/bg_video";
@import "resources/blockquotes";
@import "resources/tab_collapse";

// Vendor Specific
@import "vendor/cognito";



/*****GLOBAL STYLING*******/
#donate_button{
	padding:10px 18px;
	border-radius:5px;
	text-decoration:none;
	background-color:#812990;
}
#apply_button{
	padding:10px 18px;
	border-radius:5px;
	text-decoration:none;
	background-color:#812990;
}

body{
	
	line-height: 1.6em;
}

//header
.navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}
.navbar-nav  li  a {
  color: #e5dbdb;
  font-size: 14px;
  font-weight: 700;
}
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 
  color: #e5dbdb;
}

/*******STYLING HOME PAGE**********/
h3{
	color: #646264;
    font-weight: bold;
	
}

//home-page

.bg-image.aspect-hero{
	padding: 10% 0 0 0;
	min-height:600px;
	text-align: center; 
}
.top-img{


}

//about 
#about{
	background: url(../img/about.png);
	background-size: cover;
	repeat: no repeat;
}

// impact
#impact{
  background: url(https://pbs.twimg.com/media/EJEj1MlX0AA9qe8?format=jpg&name=4096x4096);	
}

//programmes
#programmes{
	background: url(../img/code.png);
	background-size: cover;
	repeat: no repeat;
}

//donate
#donate{
	background: url(../img/Ban-Ki-Moon.jpg);
	background-size: cover;
	repeat: no repeat;
}

//get involved

#get_involved{
	background: url(../img/Ban-Ki-Moon.jpg);
	background-size: cover;
	repeat: no repeat;
}

//footer

#footer{
	background-color:#1c2331;
}
#copyright{
	background-color:#161c27;
}

#footer h6{
	color:#812990;
}

#footer hr{
	background-color:#161c27;
}







